.container-dashboard {
    width: 100%;
    min-height: 100vh;
    background-color: #121212;
    display: flex;
}



.table-box {
    width: 100%;
    border-radius: 10px;
    border: 0px;
}

.thead {
    border: none !important;
    background-color: #000;
    height: 80px;

}

.thead>tr>th {
    font-size: 18px;
    color: #fff;
    border: 0;
    text-transform: capitalize;
    font-weight: 600;
}



.tbody>tr {
    background-color: #fff;
    height: 60px !important;

}

.tbody>tr>td {
    color: #000;
    font-size: 18px;
    border: 0;

}